/*
     ____   ____ _____ _____   _   _____  ________      ________ _      ____  _____  __  __ ______ _   _ _______ 
    |  _ \ / __ \_   _|_   _| | | |  __ \|  ____\ \    / /  ____| |    / __ \|  __ \|  \/  |  ____| \ | |__   __|
    | |_) | |  | || |   | |   | | | |  | | |__   \ \  / /| |__  | |   | |  | | |__) | \  / | |__  |  \| |  | |   
    |  _ <| |  | || |   | |   | | | |  | |  __|   \ \/ / |  __| | |   | |  | |  ___/| |\/| |  __| | . ` |  | |   
    | |_) | |__| || |_ _| |_  | | | |__| | |____   \  /  | |____| |___| |__| | |    | |  | | |____| |\  |  | |   
    |____/ \____/_____|_____| | | |_____/|______|   \/   |______|______\____/|_|    |_|  |_|______|_| \_|  |_|   
                              | |                                                                                
                              |_|               UI ELEMENTS
*/

.action_menu_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.actions.left, 
.actions.right {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    flex: 1;
}

.actions.left {
    align-items: flex-end;
}

.actions.right {
    align-items: flex-start; 
}

.action {
    border-radius: 15px;
    padding: 2.5px;
    font-weight: bold;
    display: flex;
    position: relative;
}

.action .label_container {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    justify-content: space-between;
    gap: 15px;
}

.action .label_container:hover {
    cursor: pointer;
}

.action .label {
    padding-top: 2px;
    padding-bottom: 3px;
    padding-right: 5px;
    border-radius: 16px;
    border: none;
    font-weight: 500;
    white-space: nowrap;
    width: fit-content;
    font-size: 0.9rem;
    color: var(--yume_white);
}

.action .icon {
    border: none;
    /* padding: 8px; */
    padding-right: 8px;
    padding-left: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6vh;
    width: 1.2vw;
    height: 1.2vh;
}

.center_button {
    background: linear-gradient(to right, rgba(23, 23, 23, 0.9), rgba(23, 23, 23, 0.9));
    border-radius: 50px;
    padding: 6px;
    width: 16px;
    height: 16px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vh;
    color: var(--yume_white);
    user-select: none;
    border: 1px solid var(--yume_grey);
    /* box-shadow: 2px 3px 3px #0d0c0c, -2px -3px 4px #b4b4b4; */
}

.center_button:hover {
    background: linear-gradient(to right, rgba(36, 36, 36, 0.9), rgba(23, 23, 23, 0.9));
    cursor: pointer;
    transform: scale(1.10);
    transition: transform 0.3s ease;
}

.center_button i {
    margin-left: 2px;
    margin-top: 3px;
}

.action_item {
    /* box-shadow: 2px 3px 3px rgba(13, 12, 12, 0.5), -2px -3px 4px rgba(255, 255, 255, 0.1); */
    background: linear-gradient(to right, rgba(23, 23, 23, 0.9), rgba(23, 23, 23, 0.9));
    border: 1px solid var(--yume_grey);
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: #F2F2F2;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.action_item:hover {
    background: linear-gradient(to right, rgba(36, 36, 36, 0.9), rgba(23, 23, 23, 0.9));
    transform: scale(1.05);
}

.action_item:active {
    background: linear-gradient(to right, rgba(36, 36, 36, 0.9), rgba(23, 23, 23, 0.9));
    transform: scale(0.95);
}